body, hmtl { 
    padding: 0;
    margin: 0;
}

.App { 
    text-align: center;
}

nav { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 0vh;
    background: rgb(73, 79, 82);
    color: white;
}

.nav-links { 
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.bg { 
    background-image: url(../static/home-images/tryThis1.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-divider { 
    width: 50vw;
}

.home-info { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.home-camera-icon { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.MuiDrawer-paperAnchorLeft {
    right: 0 !important;
    left: auto !important;
} 

.MuiPaper-elevation4 {
    box-shadow: none;
}

.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgba(62, 63, 58, 0.521) !important;
}

.page { 
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}

.fade-appear,
.fade-enter { 
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active { 
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit { 
    opacity: 1;
}

.fade-exit.fade-exit-active { 
    opacity: 0;
    transition: opacity 150ms linear;
}